@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #c8ee44;
  --secondary: #29a073;
  --primary-50: #f7fde6;
  --primary-100: #ecf9c2;
  --primary-200: #e4f7a5;
  --primary-300: #d8f16f;
  --primary-400: #cfee55;
  --primary-500: #bfe84b;
  --primary-600: #a3cc40;
  --primary-700: #7d9f32;
  --primary-800: #567223;
  --primary-900: #2f4515;
  --dark-blue: #1b212d;
  --gray-1: #929EAE;
  --font-manrope: "Manrope", sans-serif;
  --scroll-track: #f3f4f6;
  --scroll-thumb: #cbd5e1;
  --scroll-thumb-hover: #94a3b8;

  /* Orange Status */
  --bg-orange-status: #FFF1E5;
  --text-orange-status: #F2994A;
  --bg-dark-orange-status: #30292F;

  /* Green Status */
  --bg-green-status: #D9FFE9;
  --bg-dark-green-status: #1A3131;


  /* Red Status */
  --bg-red-status: #FFEFEF;
  --text-red-status: #E5363D;
  --bg-dark-red-status: #442121;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --scroll-track: #111827;
  --scroll-thumb: #374151;
  --scroll-thumb-hover: #4b5563;
}

body {
  font-family: var(--font-manrope);
}



/* ======================= Custom Scrollbar ====================== */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Hide arrows */
*::-webkit-scrollbar-button {
  display: none;
}

/* Track */
*::-webkit-scrollbar-track {
  background: var(--scroll-track);
  border-radius: 999px;
}

/* Thumb */
*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb);
  border-radius: 999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

/* Hover */
*::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-thumb-hover);
}

/*======================= Define Tailwind theme using your variables ============  */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-dark-blue: var(--dark-blue);
  --color-gray-1: var(--gray-1);
  --color-orange-status: var(--bg-orange-status);
  --color-green-status: var(--bg-green-status);
  --color-red-status: var(--bg-red-status);
  --color-font-orange-status: var(--text-orange-status);
  --color-font-red-status: var(--text-red-status);
  --color-dark-orange-status: var(--bg-dark-orange-status);
  --color-dark-green-status: var(--bg-dark-green-status);
  --color-dark-red-status: var(--bg-dark-red-status);
}



/* ========= Tailwind CSS UTILITES ========= */
.text {
  @apply text-black dark:text-white;
}

.custom-border-gray {
  @apply border border-gray-600 rounded-md;
}

.credit-text {
  @apply text-gray-50 dark:text-white;
}

.react-datepicker-wrapper {
  display: block !important;
  width: 100% !important;
}

.border-radius-3xl {
  @apply rounded-xl lg:rounded-3xl;
}

.border-radius-2xl {
  @apply rounded-lg lg:rounded-2xl;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

/* Range animation */
.range-flow {
  animation: flow 0.2s ease-out;
}

@keyframes flow {
  from {
    opacity: 0.6;
    transform: scaleX(0.95);
  }

  to {
    opacity: 1;
    transform: scaleX(1);
  }
}