@keyframes popup {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-popup {
    animation: popup 0.150s ease-out forwards;
}